@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" >
                        <div class="form-group">
                            <label for="RoleId">Role :</label>
                            <select class="form-control" id="RoleId" name="RoleId">
                                @foreach (var role in ViewBag.allroles)
                                {
                                    <option value="@role.RoleID">@role.RoleName</option>
                                }
                            </select>
                            @* <input type="text" class="form-control" id="CategoryID" name="CategoryID" placeholder="Insert CategoryID"> *@
                        </div>
                        <div class="form-group">
                            <label for="Username">Username :</label>
                            <select class="form-control" id="Username" name="Username">
                                @foreach (var user in ViewBag.alluser)
                                {
                                    <option value="@user.Username">@user.Username</option>
                                }
                            </select>
                        </div>
                        <button type="submit" value="Create" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
