@model MyWebFormApp.BLL.DTOs.UserDTO

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>User Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Telp)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Telp)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>User Roles</h4>
            <hr />
            <ul class="list-group">
                @foreach (var role in ViewBag.role)
                {
                    <li class="list-group-item">@role.RoleName</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="container mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
